@import "tailwindcss";

:root {
  --background: #d0d0d0;
  --foreground: #222222;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter-sans);
  --font-mono: var(--font-inter-mono);
}

html {}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

body * {
  transition: all .2s ease;
}

html,
body,
#__next {
  height: 100%;
}
