# PostgreSQL Database
POSTGRES_DB=cobrafacil
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

# App Springboot
SPRING_PROFILES_ACTIVE=dev # dev | prod | test
SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/cobrafacil
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
